$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-default-bg: #fff;
$navbar-default-color: #000;
$navbar-default-link-color: #000;
$navbar-default-brand-color: #000;
$font-size-base: 14px;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-weight: 300;
}

.nav.navbar-nav {
  text-transform: uppercase;
}

.section {
  &-content {
    border-bottom: 1px solid #eee;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: $screen-sm-max) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.hero {
  text-align: center;
  .section-content {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  &-title {
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 0;
    margin-top: 0;
  }

  &-subtitle {
    font-size: 24px;
    font-weight: 100;
    //padding-top: 30px;
  }
}

.about {

}


.brief {
  .text-center {
    margin-bottom: 30px;
  }

  .glyphicon {
    font-size: 32px;
    color: #3F4DA1;
  }

  .about-item {
    margin-top: 30px;
  }

  .col-md-2 {
    text-align: center;
  }

  .col-md-10 {
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }
}

.services {
  h1 {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 100;
    font-size: 24px;
  }

  .row {
    margin-bottom: 40px;
  }

}

.comments {
  padding-top: 25px;
  padding-bottom: 50px;
  //position: relative;
  //height: 700px;

  .carousel-indicators {
    top: 10px;

    li {
      border-color: #000;

      &.active {
        background: #000;
      }
    }
  }

  .comment {
    //width: 800px;
    //margin: 0 auto 100px auto;
    margin-top: 50px;
    height: 250px;

    @media (max-width: $screen-sm-max) {
      height: 400px;
    }


    &-text {
      font-size: 18px;
      font-weight: 100;

      @media (max-width: $screen-sm-max) {
        font-size: 12px;
      }
    }

    &-author {
      padding-left: 300px;
      padding-top: 30px;

      @media (max-width: $screen-sm-max) {
        padding: 10px 0;
      }

    }
  }
}
